/* Account.css */

.account {
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    border: 1px solid #ccc; /* Border style */
    border-radius: 8px;
  }
  
  .profile {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 5%;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .details {
    text-align: left;
  }
  
  .details p {
    margin-bottom: 10px;
  }
  