body{
    margin: 0; /* Remove default margin */
    height: 100vh; /* Ensure the body takes up the full viewport height */
    background-image: url(https://images.unsplash.com/photo-1590283603385-17ffb3a7f29f?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  
   background-size: cover;       /* Scale the image to cover the entire page */
    background-repeat: no-repeat; /* Prevent the image from repeating */
}